@{
    Layout = null;
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/jtable")
@Scripts.Render("~/bundles/modernizr")
<div class="modal-dialog">
    <div class="modal-content custom-modal-content">
        <div class="modal-header">
            Beneficiários <!-- Corrigido typo -->
        </div>
        <div class="modal-body">
            <form id="modalForm">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">CPF</label>
                        <input type="text" class="form-control" id="cpfBeneficiario" name="cpfBeneficiario" placeholder="999.999.999-99" onChange="Validacao_CPF(this)" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="nomeBeneficiario" name="nomeBeneficiario" required>
                    </div>
                    <div class="form-group col-md-4">
                        <br />
                        <button type="button" id="btn_IncluirBeneficiários" class="btn btn-sm btn-success">Incluir</button>
                    </div>
                </div>
                <br />
                <table id="gridBeneficiarios" class="table"></table>
            </form>
        </div>
    </div>
</div>

<style>
    .custom-modal-content {
        height: auto; /* Altura personalizada */
        overflow-y: auto; /* Adicionar barra de rolagem se necessário */
    }
</style>

<script>
    var urlPostBeneficiários = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
    var urlPostListaBeneficiários = '@Url.Action("BeneficiariosPeloCliente", "Beneficiario", new { area = "" })';
    var urlPostAtualizarBeneficiário = '@Url.Action("Atualizar", "Beneficiario", new { area = "" })';
    var urlGetAlterar = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
    var urlPostRemover = '@Url.Action("Remover", "Beneficiario", new { area = "" })';
</script>

@Scripts.Render("~/bundles/jtable")
@Scripts.Render("~/bundles/jquerymask")
@Scripts.Render("~/bundles/inputmask")
@Scripts.Render("~/bundles/validacaoCpf")
@Scripts.Render("~/bundles/beneficiarios")
@Scripts.Render("~/bundles/listBeneficiarios")


